<%- include("../partials/header.ejs") %>
<div class="container-fluid">
    <a href="/" class="home-link">Contractor Ratings</a>
    <div class="row" id="name-container">
        <h1><%=contractor.name%></h1>
    </div>
    <div class="row" id="profile-photo-container">
        <img src="" alt="" id="profile-photo">
    </div>
    <div class="row" id="stats-container">
        <p><%=contractor.rating%></p>
    </div>
    <div>
        <%for (let i = 0; i < contractor.reviews.length; i++){%>
            <%=foundReviews[i].rating%><br/>
        <%}%>
    </div>
</div>
<%- include("../partials/footer.ejs") %>