<%- include("../partials/header.ejs") %>
<div class="container-fluid">
<%- include("../partials/navbar.ejs") %>
    <div class="row" id="name-container">
        <h1 id="your-reviews-header">Reviews From <%=reviewerReviewer.name%></h1>
    </div>
    <div class="row" id="profile-photo-container">
        <img src="" alt="" id="profile-photo">
    </div>
    <div class="row" id="review-stream-container">
            <%for (let i = 0; i < reviewerReviewer.writtenReviews.length; i++){%>
            <div class="col-6">
                <div class="review-subject-box">
                    <a class="subject-anchor" href="/reviews/contractors/<%=reviewerReviewer.writtenReviews[i].subjectId%>">
                        <%=reviewerReviewer.writtenReviews[i].subjectName%>
                    </a>
                </div>
                <div class="review-rating-box" id="user-review-stream-rating-box">
                    <%=reviewerReviewer.writtenReviews[i].rating%>/5
                </div>
                <div class="row">
                    <div class="review-description-box">
                        <%=reviewerReviewer.writtenReviews[i].description%><br/>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
    <div class="row" id="review-button-container">
        <div id="review-anchor-container">
            <a href="/reviews" id="review-button">Find Contractors</a>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>