<%- include("../partials/header.ejs") %>
<div class="container-fluid">
    <a href="/" class="home-link">Contractor Ratings</a>
    <h1><%=contractor.name%></h1>
    <h1>Write A Review</h1>
    <form id="review-form" action="/reviews/contractors/<%=contractor._id%>" method="POST">
        <div class="hidden-info">
            <input name="subjectName" value="<%=contractor.name%>">
            <input name="subjectUsername" value="<%=contractor.username%>">
            <input name="subjectId" value="<%=contractor._id%>">
            <input name="authorName" value="<%=reviewer.name%>">
            <input name="authorUsername" value="<%=reviewer.username%>">
            <input name="authorId" value="<%=reviewer._id%>">
        </div>
        <select name="rating">
            <option value="5" selected>5 Stars</option>
            <option value="4">4 Stars</option>
            <option value="3">3 Stars</option>
            <option value="2">2 Stars</option>
            <option value="1">1 Stars</option>
        </select>
        <textarea name="description" type="text" placeholder="Describe Your Experience"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
<%- include("../partials/footer.ejs") %>