<%- include("../partials/header.ejs") %>
<div class="container-fluid">
<%- include("../partials/navbar.ejs") %>
    <div class="row" id="name-container">
        <h1 id="your-reviews-header">Your Reviews</h1>
    </div>
    <div>
        <div class="row" id="review-stream-container">
        <%for (let i = 0; i < contractor.writtenReviews.length; i++){%>
            <div class="col-6">
                <div class="review-subject-box">
                    <%=foundReviews[i].subjectName%><br/>
                </div>
                <div class="review-rating-box">
                    Rating: <%=foundReviews[i].rating%>/5<br/>
                </div>
                <div class="review-description-box">
                    <%=foundReviews[i].description%><br/>
                </div>
                <div class="edit-anchor-container" id="review-stream-edit-container">
                    <a href="/contractors/<%=contractor._id%>/written-reviews/edit/<%=foundReviews[i]._id%>" class="edit-button" id="edit-review-anchor">Edit Review</a>
                </div>
            </div>
        <%}%>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>